.home {
  height: calc(var(--mobile-100vh-fix) - var(--nav-height));
  margin-top: var(--nav-height);
  background-color: white;

  @media (min-width: 750px) {
    height: calc(var(--mobile-100vh-fix) - var(--nav-height));
    margin-top: var(--nav-height);
  }

  .time-display {
    height: var(--time-display-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    position: relative;
    z-index: 2;

    @media (min-width: 750px) {
      font-size: 1.5rem;
    }

    .time {
      margin-right: 15px;
    }

    .day {
      color: rgba(0, 0, 0, 0.289);
      font-weight: 200;

      .date {
        margin-left: 5px;
      }
    }
  }

  .home-main-container {
    height: calc(100% - var(--time-display-height));

    @media (min-width: 500px) {
      padding: 0 20px;
    }

    @media (min-width: 900px) {
      padding: 0 50px;
    }

    .home-main {
      width: calc(100vw - (var(--container-padding) * 2));
      min-width: 280px;
      max-width: 700px;
      height: 300px;
      flex-direction: column;
      align-items: stretch;
      margin: 0 auto;
      position: relative;

      @media (min-width: 500px) {
        width: 80vw;
      }

      .title {
        font-size: 1em;
        color: $title;
        margin-bottom: 1.4rem;
        padding-left: 15px;

        @media (min-width: 750px) {
          font-size: 1.3em;
        }

        @media (min-width: 1500px) {
          font-size: 1.5em;
        }

        &.center.animation-title {
          text-align: center;
          transform: translateY(30px); /* animation */
          cursor: pointer;
        }
      }

      .add-new-todo-form {
        display: flex;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: 500px) {
          width: 500px;
        }

        &:before {
          display: none; /* remove box tail on home page */
        }
      }

      .arrows {
        justify-content: flex-end;
        padding-right: 1rem;

        .arrow {
          cursor: pointer;
          font-size: 1.1rem;
          color: rgba(0, 0, 0, 0.233);
        }

        .arrow-back {
          margin-right: 0.2rem;
        }
      }
    }

    .z-index {
      z-index: 4;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.249);
  z-index: 3;
}
