.monthly,
.main,
.calendar,
.monthly-list,
.monthly-list * {
  // border: 1px solid rgba(0, 0, 0, 0.151);
}

/* HeaderMonthly */
.row-1,
.row-2-col-1,
.row-2-col-2 {
  // border: 1px solid rgba(0, 0, 0, 0.151);
}

.calendar * {
  // border: 1px solid rgba(0, 0, 0, 0.151);
}

.monthly {
  height: auto;

  @media (min-width: 1100px) {
    height: calc(var(--mobile-100vh-fix) - var(--nav-height));
  }

  /* when min-width is greater than 1300px but in short landscape mode */
  @media (min-width: 1100px) and (max-height: 750px) {
    height: auto;
  }

  .main-display {
    .header {
      /*
        to vertically align with "Daily" and "Weekly" title
        (header-height (120px) - flex-1 height(51.88px) /2)
      */
      padding-top: 34.06px;

      .row-1 {
        .row-1__1 {
          margin-right: 0;

          .title {
            width: 110px; /* to prevent moving when switching to different month */

            @media (min-width: 550px) {
              width: 167.38px;
            }
          }
        }

        .row-1__2 {
          display: flex;
          align-items: center;
          margin-right: 1rem;
        }

        .row-1__3 {
          margin-left: auto;
        }
      }

      .row-2-col-1 {
        flex-basis: 50%;
        justify-content: flex-start;
        font-size: 0.75em;

        @media (min-width: 550px) {
          flex-basis: 100%;
        }

        .today-btn {
          margin-left: 2.5em;
          background-color: transparent;
          padding: 0.15em 0.5em 0.15em 0.5em;
          border-radius: 8px;
          border: 1px solid rgba(0, 0, 0, 0.253);
          outline: none;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.03);
          }
        }
      }

      .row-2-col-2 {
        flex-basis: 50%;
        order: 1;
        justify-content: flex-end;

        @media (min-width: 550px) {
          order: 0;
          margin-left: auto;
          flex-basis: auto;
        }
      }

      .arrows {
        font-size: 1.2rem;
        width: 41px;

        .arrow {
          cursor: pointer;
        }
      }
    }

    .main {
      padding: 0 0.5em;
      height: 1100px;
      max-width: 1300px;
      display: flex;
      flex-direction: column;

      @media (min-width: 1100px) {
        height: 60vh;
        flex-direction: row;
        padding: 0;
      }

      @media (min-width: 1100px) and (max-height: 750px) {
        min-height: 450px; /* prevents from 60vh in short landscape mode */
        margin-bottom: 5em;
      }

      .calendar {
        flex: 1;
        display: flex;
        flex-direction: column;

        @media (min-width: 1100px) {
          flex: 1.1;
          max-height: inherit;
          margin-right: 3rem;
        }

        &__header,
        &__week {
          width: 100%;
          flex: 1;
          font-weight: 500;
          display: flex;
          justify-content: space-between;
        }

        /* days & date */
        &__header span,
        &__week .date {
          display: inline-block;
          font-size: 0.9em;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          cursor: pointer;

          @media (min-width: 900px) {
            width: 50px;
            height: 50px;
          }
        }

        &__header {
          color: rgb(128, 128, 128);
        }

        &__week {
          .no-todo-message::before {
            content: 'No todo';
            position: absolute;
            left: 130%;
            width: 80px;
            height: 50px;
            border-radius: 3px;
            background-color: rgb(242, 242, 242);
            color: rgb(123, 123, 123);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
          }

          /* small tail on the right border */
          .no-todo-message:after {
            content: '';
            display: block;
            width: 0;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-color: rgba(0, 0, 0, 0) rgba(242, 242, 242, 0.762);
            border-style: solid;
            border-width: 15px;
            border-left-width: 0;
          }

          .date-prev-month,
          .date-next-month {
            color: rgb(192, 192, 192);
          }

          .today {
            background-color: rgba(255, 227, 184, 0.411);
          }

          .weekend {
            color: rgb(123, 123, 123);
          }
        }
      }

      .monthly-list {
        flex: 1.2;
        margin-top: 6rem;
        position: relative;

        @media (min-width: 1100px) {
          flex: 1;
          border-left: 1px solid rgba(0, 0, 0, 0.118);
          margin-top: 0;
          padding-left: 3rem;
          padding-right: 1rem;
        }

        form {
          width: 96%;
          height: var(--monthly-list-form-height);
          display: flex;
          align-items: center;
          padding-left: 0.4em;
          margin-bottom: var(--monthly-list-form-mg-bottom);
          background-color: rgb(241, 241, 243);
          border-radius: 5px;
          position: relative;

          .search-icon {
            position: absolute;
            width: 12px;
            height: 12px;

            @media (min-width: 1550px) {
              width: 16px;
              height: 16px;
            }
          }

          input {
            flex: 1;
            height: 100%;
            margin-left: 1.5em;
            border: none;
            background-color: transparent;
            outline: none;
            padding-bottom: 2px;

            &::placeholder {
              font-size: 1em;
              line-height: 17px;

              @media (min-width: 550px) {
                font-size: 0.8em;
                line-height: 20px;
              }
            }
          }
        }

        .title {
          color: rgba(0, 0, 0, 0.781);
          font-size: 1em;
          margin-bottom: var(--monthly-list-title-mg-bottom);
          height: var(--monthly-list-title-height);

          @media (min-width: 1550px) {
            font-size: 1.5em;
          }

          .todos-length {
            margin-left: 5px;
          }
        }

        .outer-ul {
          height: 500px;
          padding-right: 1em;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;

          @media (min-width: 1100px) {
            height: calc(
              100% -
                (
                  var(--monthly-list-form-height) + var(--monthly-list-form-mg-bottom) +
                    var(--monthly-list-title-height) + var(--monthly-list-title-mg-bottom)
                )
            );
          }

          @media (min-width: 1550px) {
            height: calc(
              100% -
                (
                  var(--monthly-list-form-height) + var(--monthly-list-form-mg-bottom) +
                    var(--monthly-list-title-height) + var(--monthly-list-title-mg-bottom)
                )
            );
          }

          &__list {
            margin-bottom: 2em;

            .row-1 {
              display: flex;
              margin-bottom: 1em;

              .date {
                font-size: 1.2em;
                font-weight: bold;
                line-height: 15px;
                flex-basis: 13%;

                @media (min-width: 1550px) {
                  font-size: 1.5em;
                  line-height: 23px;
                }
              }

              .day {
                flex-basis: 87%;
                font-size: 0.8em;
                color: rgba(0, 0, 0, 0.349);
                border-top: 1px solid rgba(0, 0, 0, 0.118);
                padding-top: 0.45rem;
              }
            }

            .row-2.inner-ul {
              height: 100%;

              .inner-ul__list {
                display: flex;

                &.todo-item {
                  opacity: 1;
                  border: none;
                  box-shadow: none;
                  padding-left: 0.1em;
                  transform: translateY(0);
                  background-color: transparent;

                  @media (min-width: 1550px) {
                    font-size: 1.1em;
                  }

                  .checkbox {
                    border: none;
                  }

                  .task.grey-out {
                    color: rgba(0, 0, 0, 0.461);
                  }

                  .col-1 {
                    flex-basis: 13%;
                  }
                  .col-2 {
                    flex-basis: 87%;
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
