.monthly {
  height: auto;

  @media (min-width: 1100px) {
    height: calc(var(--mobile-100vh-fix) - var(--nav-height));
  }

  /* when min-width is greater than 1300px but in short landscape mode */
  @media (min-width: 1100px) and (max-height: 750px) {
    height: auto;
  }

  .main-display {
    .main {
      padding: 0 0.5em;
      height: 1100px;
      max-width: 1300px;
      display: flex;
      flex-direction: column;

      @media (min-width: 1100px) {
        height: 60vh;
        flex-direction: row;
        padding: 0;
      }

      @media (min-width: 1100px) and (max-height: 750px) {
        min-height: 450px; /* prevents from 60vh in short landscape mode */
        margin-bottom: 5em;
      }
    }
  }
}
