/* default styles for select-view and select-sort */
select {
  width: 70px;
  border: 1px solid #aaa;
  border: 1px solid rgba(170, 170, 170, 0.193);
  padding: 2px 0 2px 5px;
  border-radius: 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  background-color: white;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65em auto, 100%;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*
   add-new-todo-form
   shred between pages (home, daily, weekly, monthly)
  */
.add-new-todo-form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 45px;
  padding: 10px 25px 10px 25px;
  background-color: white;
  border-radius: 8px;
  @include popup-box-shadow;
  outline: none;
  z-index: 2; /* otherwise it will be placed underneath todo item */
  display: none;

  &.show-add-new-todo-form {
    display: flex;
  }

  .react-datepicker__header {
    background-color: white;
  }

  .submit {
    margin-top: auto;
    background-color: white;
    border: 1px solid #c6c5ff;
    border-radius: 3px;
    padding: 0.5rem 0;
    color: $purple;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #7472ff;
      border: none;
      color: white;
    }
  }

  /* small tail on the right border */
  &:before {
    content: '';
    display: block;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    border-color: rgba(0, 0, 0, 0) $form-bg;
    border-style: solid;
    border-width: 15px;
    border-right-width: 0;
  }
}
