.daily,
.weekly,
.monthly {
  height: calc(var(--mobile-100vh-fix) - var(--nav-height));
  height: calc(100vh - var(--nav-height)); // fallback
  margin-top: var(--nav-height);
  display: flex;
  background-color: white;

  @media (min-width: 750px) {
    padding-top: var(--nav-height-bg);
  }

  .main-display {
    width: 100%;

    @media (min-width: 750px) {
      flex-basis: 75%;
    }
  }
  /* side display */
  .side-display {
    background-color: rgb(250, 250, 250);

    @media (min-width: 750px) {
      flex-basis: 25%;
    }
  }
}
