.list {
  padding: 2.5rem 0;

  @media (min-width: 750px) {
    padding: 4.5rem 0 2.5rem 0;
  }

  @media (min-width: 900px) {
    margin-right: 5rem;
  }

  &.sm {
    max-width: 520px;

    @media (min-width: 750px) {
      min-width: 360px;
    }
  }

  &.md {
    max-width: 700px;
  }

  .no-todo-message {
    display: block;
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 0.24);
  }
}

/* todo list */
.todo-list {
  position: relative;
}

/* todo item */
.todo-item {
  margin-bottom: 1rem;
  padding: 0.5rem 1.1rem;
  border-radius: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.038);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.111);
  transform: translateY(30px); /* animation */
  font-size: 16px;
  opacity: 0;

  span {
    display: block;
  }

  .type-bar {
    width: 0.31em;
    height: 1.56em;
    border-radius: 0.31em;
    margin-right: 0.5em;
    background-color: $purple;
  }

  .checkbox {
    border: 1px solid #c1c3c6;
    width: 1em;
    height: 1em;
    border-radius: 0.35em;
    margin-right: 0.5em;
    cursor: pointer;
    transition: background-color 0.05s linear;
  }

  .completed {
    background-color: $purple;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20d%3D%22M13.613%2027.068l-7.94-7.28q-.285-.267-.442-.613t-.172-.7.11-.71.394-.638q.52-.583%201.3-.614T8.225%2017l6.13%205.626%208.79-17q.363-.693%201.104-.93t1.433.118.93%201.103-.126%201.442L16.56%2026.55q-.204.394-.558.654t-.78.34q-.063.015-.118.023t-.11.008-.102%200q-.74%200-1.276-.504z%22%20fill%3D%22%23FFF%22/%3E%3C/svg%3E);
    border: none;
    background-size: 0.625em; /* default */
    background-repeat: no-repeat;
    background-position: center center;
  }

  .important {
    background-color: $purple;
  }

  .work {
    background-color: $blue;
  }

  .study {
    background-color: $pink;
  }

  .other {
    background-color: $orange;
  }

  .task {
    font-size: 0.75em;
    font-weight: bold;
    word-break: break-all;
  }

  .more {
    margin-left: auto;
    display: flex;
    cursor: pointer;

    /* bin / more icons */
    svg {
      margin: 0 1rem;
    }

    svg:hover {
      color: $purple;
      transition: background-color 0.08s ease-in-out;
    }

    svg:last-child {
      margin: 0;
    }
  }
}

.home-main .todo-item {
  height: 3.2em;
  border-radius: 3.16em;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.07);
  padding-left: 1.1rem;
  margin-bottom: 1.3rem;

  @media (min-width: 500px) {
    height: 4em;
  }

  @media (min-width: 750px) {
    font-size: 18px;
    padding-left: 1.2em;
    margin-bottom: 2rem;
  }
}

.popup-more-action {
  width: 100px;
  height: 60px;
  background-color: white;
  @include popup-box-shadow;
  position: absolute;
  right: 40px;
  top: 40px;
}
