.list {
  margin-bottom: 5em;

  &.overdue-list {
    position: relative;

    h2 {
      display: flex;
      align-items: center;

      .pin-icon {
        font-size: 0.75em;
        margin-left: 5px;
        padding-top: 2px;
      }
    }
  }

  &.md.overdue-list {
    padding-bottom: 2em;

    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.062);
    }
  }

  &.sm {
    max-width: 520px;

    @media (min-width: 750px) {
      min-width: 360px;
    }

    @media (min-width: 900px) {
      margin-right: 5rem;
    }
  }

  &.md {
    max-width: 700px;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 2.3rem;

    @media (min-width: 900px) {
      font-size: 1.5em;
      margin-bottom: 3rem;
    }
  }
  .no-todo-message {
    display: block;
    padding-bottom: 1rem;
    padding-left: 1em;
    color: rgba(0, 0, 0, 0.24);
  }
}

.popup-more-action {
  width: 100px;
  height: 60px;
  background-color: white;
  @include popup-box-shadow;
  position: absolute;
  right: 40px;
  top: 40px;
}
