.weekly {
  position: relative;
  height: auto;

  @media (min-width: 900px) {
    height: calc(var(--mobile-100vh-fix) - var(--nav-height));
  }

  .main-display {
    .weekly-list {
      width: 100%;
      overflow-y: scroll;
      padding: 0 4.5px; /* to prevent box-shadow cut off on the left/right edge due to position absolute */

      /* make horizontal scroll bar transparent */
      &::-webkit-scrollbar {
        display: none;
      }

      @media (min-width: 900px) {
        display: flex;
        position: absolute;
        overflow-x: scroll;
        width: calc(75% - 50px);
        scrollbar-width: none; /* fix for firefox */
      }

      .list {
        h2 {
          span {
            font-weight: lighter;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.171);
            margin-left: 0.4rem;
          }

          .date-ordinal {
            margin-left: 0;
          }
        }
      }
    }
  }
}
