.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.flex {
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.v-center {
    align-items: center;
  }
}
